<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true }"
  [template]="customLoadingTemplate"></ngx-loading>
<div class="container rt-heading rt-nabvar-primary rt-body" style="padding-bottom: 25px;">
  <div class="row">
    <div class="col-6">
      <div class="card-title text-center">
        <h3 class="text-center">Soporte</h3>
        <br>
        <i class="fas fa-headset" style="font-size: 53px;"></i>
        <br>
        <br>
      </div>
      <ul>
        <li>¿Le gustaría una nueva funcionalidad?</li>
        <li>¿Podemos mejorar en algo?</li>
        <li>¿Ha tenido algún detalle o inconveniente?</li>
      </ul>
      <p style="text-align: justify;">
        <br>
        Por favor comuníquenos su sugerencia o comentario.
        En rosata estamos atentos a las necesidades de nuestros usuarios y comprometidos en actualizarnos día a día, mejorando
        y
        agregando nuevas caracteristicas para hacer más fáciles las tareas diarias.
      </p>
    </div>
    <div class="col-6">
        <div class="card-title text-center">
            <br>
            <br>
            <br>
            <br>
            <button class="btn btn-success"><i class="fab fa-whatsapp"></i> Escríbenos</button>
            <br>
            <br>
            ó
            <br>
            <br>
            Envíanos un correo a contacto@teslasoft.com.mx
          </div>
    </div>
  </div>
</div>
